@use "../../SASS/Main" as*;


.navbar {
    position: relative;
    @include size(100% , 80px);
    @include flex (space-between , center);
    border-top: 10px solid var(--primary-clr) ;
    top: 0;
    background-color: var(--bg-nav);
    box-shadow: 1px 1px 20px  $gray-4;
    padding: 0 10px;
    font-size: 17px;
    z-index: 100;

    @include mq(992px){
        position: fixed;
        @include size(92% , 80px);
        transition: 0.5s;
    }
    @include mq(768px){
        @include size(95% , 80px);
    }
    @include mq(420px){
        @include size(98% , 80px);
    }

}

.logo{
    position: relative;
    @include size(100px , 40px);
    background-color:white;
    margin-left: 1px;
    opacity: 0;
    @include animation(FadeIn )
}
.links{
    @include flex (center , center);
    gap: 5px;
    
    @include mq(992px){
        display: none;
    }

}
.link{
    position: relative;
    padding-bottom: 10px;
    color: var(--text);
    font-size: 17px;
    opacity: 0;
    @include animation-time(FromTop,0.5s,0s );
}
.link:nth-child(2){
    animation-delay: 0.2s;
}
.link:nth-child(3){
    animation-delay: 0.4s;
}
.link:nth-child(4){
    animation-delay: 0.6s;
}
.link:nth-child(5){
    animation-delay: 0.8s;
}
.link:nth-child(6){
    animation-delay: 1.0s;
}
.activeLink{
    font-weight: bold;
    color: var(--primary-clr);
}
.activeLink::after{
    content: "";
    position: absolute;
    @include size(100%, 2px);
    background-color: var(--primary-clr);
    left: 0%;
    border-radius: 50%;
    bottom: 0;
    transition: 0.5s;
}

.call{
    color: var(--text);

    @include mq(992px){
        display: none;
    }
}

.iconsLinks{
    @include flex(center , center);
    gap: 5px;

    @include mq(992px){
        margin-right: 60px;
    }
}
.socialMedia{
    @include flex (center , center);
    color: var(--primary-clr);
    gap: 10px;
    cursor: pointer;
    margin-right: 10px;
}

//in screen mobile
.linksMobile{
    display: none;

    @include mq(992px){
        position: fixed;
        top: 80px;
        @include flex-col (center , center);
        @include size(92% , fit-content);
        @include blur-bg($indigo-3);
        padding: 10px 0;
        gap: 5px;
        transition: 1s;
    }
    @include mq(768px){
        @include size(95% , fit-content);
    }
    @include mq(420px){
        @include size(98% , fit-content);
    }
}
@media (max-width: 992px){
    .open{
        transform: translateY(0%);
        opacity: 1;
        z-index: 100;
    }
    .close{
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
    }
    
    .fixed{
        transform: translateY(0px);
        opacity: 1;
    }
    .hide{    
        transform: translateY(-100px);
        opacity: 0;
    }
    
}
